.glassContainer {
    position: relative;
    border-radius: var(--border-radius, 30px);
}

.glassContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: var(--border-radius, 30px);
    overflow: hidden;
    box-shadow:
        inset 2px 2px 0px -2px var(--glow-color, rgba(255, 255, 255, 0.7)),
        inset 0 0 3px calc(1px * var(--shadow-intensity, 1)) var(--glow-color, rgba(255, 255, 255, 0.7));
}

.glassContainer::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: var(--border-radius, 30px);
    backdrop-filter: blur(var(--blur-amount, 0px));
    filter: var(--glass-filter-ref, none);
    overflow: hidden;
    isolation: isolate;
}