@import "tailwindcss";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hover-border-animated {
    display: inline-block;
}

.hover-border-animated::after {
    content: "";
    display: block;

    background-color: white;

    height: 2px;
    width: 0;

    margin: auto;

    border-radius: 99px;

    transition: width 0.3s;
}

.hover-border-animated:hover::after {
    width: 100%;
}

@keyframes gradient-slide {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
